name: SonarQube scan check

on:
  pull_request:
    branches:
      - development
      - main

jobs:  
  sonar:
    runs-on:
      - self-hosted
      - windows

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
          
      - name: Setup SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Setup .Net Coverage
        run: dotnet tool install --global dotnet-coverage
        
      - name: SonarQube Scan
        shell: cmd
        run: |
          set PATH=%PATH%;%USERPROFILE%\.dotnet\tools
          
          dotnet sonarscanner begin ^
            /k:"${{ vars.SONAR_API_KEY }}" ^
            /d:sonar.host.url="${{ vars.SONAR_HOST_URL }}" ^
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" ^
            /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml"
          
          dotnet build --no-incremental
          dotnet-coverage collect "dotnet test" -f xml -o "coverage.xml"
          
          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        
      - name: SonarQube Quality Gate check
        shell: cmd
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
        run: |
          for /f "tokens=1,2 delims==" %%a in (.sonarqube\out\.sonar\report-task.txt) do (
            if "%%a"=="ceTaskId" set CE_TASK_ID=%%b
          )
          
          echo SonarQube ceTaskId: %CE_TASK_ID%
          
          curl -s -u %SONAR_TOKEN%: %SONAR_HOST_URL%/api/qualitygates/project_status?ceTaskId=%CE_TASK_ID% > qg.json
          
          for /f "tokens=*" %%i in ('type qg.json ^| findstr /i "status"') do set STATUS=%%i
          
          echo Quality Gate raw response: %STATUS%
          
          echo %STATUS% | findstr /i "\"OK\"" >nul
          if errorlevel 1 (
            echo Quality Gate failed!
            type qg.json
            exit /b 1
          ) else (
            echo Quality Gate passed!
          )